# Dependencies
node_modules/

# Environment variables
.env

# OS / editor files
.DS_Store

# Build outputs
dist/
bundle/

# Frontend (Vite)
frontend/.vite/

# Hardhat / blockchain
artifacts/
cache/
deployments/
coverage/
types/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*